h1 {
  font-size: 30px;
  letter-spacing: 2px;
}

// *{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

header {
  color: #F5F5F5;
  background: #204160;
  padding-left: 30px;
  height: 60px;
  line-height: 60px;
}